<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_bot">

  <!-- Laser scanner -->
  <xacro:arg name="include_laser" default="true"/>
  <xacro:property name="include_laser" value="$(arg include_laser)"/>

  <xacro:include filename="$(find barista_robot_description)/xacro/inertia_calculations.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/laser_scanner.xacro" />

  <xacro:property name="body_radius" value="0.178"/>
  <xacro:property name="body_height" value="0.155"/>
  <xacro:property name="body_mass" value="0.5"/>
  <xacro:property name="wheel_width" value="0.0206"/>
  <xacro:property name="wheel_radius" value="0.0352"/>
  <xacro:property name="wheel_mass" value="0.05"/>
  <xacro:property name="wheel_rpy" value="1.5707 1.5707 0"/>
  <xacro:property name="standoff_rod_length" value="0.220"/>
  <xacro:property name="standoff_rod_radius" value="0.01"/>
  <xacro:property name="standoff_rod_mass" value="0.05"/>
  <xacro:property name="cupholder_tray_length" value="0.090"/>
  <xacro:property name="cupholder_tray_radius" value="0.160"/>
  <xacro:property name="cupholder_tray_mass" value="0.2"/>

  <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
  </material>

  <material name="yellow">
      <color rgba="1.0 1.0 0.0 1"/>
  </material>

  <material name="red">
      <color rgba="1.0 0.0 0.0 1"/>
  </material>

  <material name="green_dark">
    <color rgba="0.0 0.5 0.0 1"/>
  </material>

  <material name="black">
      <color rgba="0.0 0.0 0.0 1"/>
  </material>

  <material name="grey">
      <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <link name="base_link">
  </link>

  <!-- Body -->
  <link name="main_body">
    <visual>
      <geometry>
        <cylinder length="${body_height}" radius="${body_radius}"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="${body_height}" radius="${body_radius}"/>
      </geometry>
    </collision>

  <xacro:cylinder_inertia
      mass="${body_mass}"
      radius="${body_radius}"
      length="${body_height}"/>

  </link>

  <joint name="base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="main_body" />
  </joint>

  <!-- Left Wheel -->
  <xacro:wheel_macro
      wheel_name="left_wheel"
      radius="${wheel_radius}"
      length="${wheel_width}"
      mass="${wheel_mass}"
      rpy="${wheel_rpy}"
      parent_link="main_body"
      joint_xyz="0 0.158 -0.0775"/>

  <!-- Right Wheel -->
  <xacro:wheel_macro
      wheel_name="right_wheel"
      radius="${wheel_radius}"
      length="${wheel_width}"
      mass="${wheel_mass}"
      rpy="${wheel_rpy}"
      parent_link="main_body"
      joint_xyz="0 -0.158 -0.0775"/>

  <!-- Front Caster Wheel -->
  <xacro:caster_wheel_macro
      caster_wheel_name="front"
      radius="${wheel_radius}"
      caster_color="red"
      parent_link="main_body"
      joint_xyz="0.138 0 -0.0775"/>

  <!-- Rear Caster Wheel -->
  <xacro:caster_wheel_macro
      caster_wheel_name="rear"
      radius="${wheel_radius}"
      caster_color="green_dark"
      parent_link="main_body"
      joint_xyz="-0.138 0 -0.0775"/>

  <!-- Standoff rod 1 -->
  <xacro:standoff_rod_macro
      standoff_rod_name="standoff_rod_1"
      radius="${standoff_rod_radius}"
      length="${standoff_rod_length}"
      mass="${standoff_rod_mass}"
      parent_link="main_body"
      joint_xyz="0.06 0.128 0.1875"/>

  <!-- Standoff rod 2 -->
  <xacro:standoff_rod_macro
      standoff_rod_name="standoff_rod_2"
      radius="${standoff_rod_radius}"
      length="${standoff_rod_length}"
      mass="${standoff_rod_mass}"
      parent_link="main_body"
      joint_xyz="-0.06 0.128 0.1875"/>

  <!-- Standoff rod 3 -->
  <xacro:standoff_rod_macro
      standoff_rod_name="standoff_rod_3"
      radius="${standoff_rod_radius}"
      length="${standoff_rod_length}"
      mass="${standoff_rod_mass}"
      parent_link="main_body"
      joint_xyz="0.06 -0.128 0.1875"/>

  <!-- Standoff rod 4 -->
  <xacro:standoff_rod_macro
      standoff_rod_name="standoff_rod_4"
      radius="${standoff_rod_radius}"
      length="${standoff_rod_length}"
      mass="${standoff_rod_mass}"
      parent_link="main_body"
      joint_xyz="-0.06 -0.128 0.1875"/>

  <!-- Cupholder tray -->
  <xacro:cupholder_tray_macro
      radius="${cupholder_tray_radius}"
      length="${cupholder_tray_length}"
      mass="${cupholder_tray_mass}"
      parent_link="main_body"
      joint_xyz="0 0 0.3425"/>

  <!-- Differential Drive Plugin -->
  <gazebo>
    <plugin
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">
        <left_joint>joint_left_wheel</left_joint>
        <right_joint>joint_right_wheel</right_joint>
        <wheel_separation>0.316</wheel_separation>
        <wheel_radius>0.0352</wheel_radius>
        <topic>cmd_vel</topic>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        <odom_topic>odom</odom_topic>
        <tf_topic>tf</tf_topic>
        <frame_id>odom</frame_id>
        <child_frame_id>base_link</child_frame_id>
    </plugin>
  </gazebo>

  <!-- Joint state publisher plugin -->
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
          name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>

</robot>
