<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cylinder_inertia" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia
        ixx="${mass * (3*radius*radius + length*length) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (3*radius*radius + length*length) / 12.0}"
        iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

</robot>
